body a, body a:hover, body a:focus,
.pagination > li > a,
.pagination > li > span,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover{color:#f90;}

.btn-primary,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{background-color:#f90; border-color:#f90;}

.template-style1 .logo0{background:url(logo.png) left 0 no-repeat; min-height:80px;}