/*######  Design by VTEM http://www.vtem.net All Rights Reserved  ###########*/
@import url("../vtemtools/widgets/css/global.css");
/* #######################  GENERAL SETTINGS ############################ */
.vtem-wrapper{position:relative; overflow:hidden; z-index:1;}
.btn-toolbar{margin:30px 0;}
.filters.btn-toolbar > .btn-group{margin-left:0;}
#searchForm .phrases .controls > label,
#searchForm .only > label{ margin-left:20px;}
#searchForm .phrases .controls > label > input,
#searchForm .only > label > input{height:auto;}
#searchForm > fieldset{margin-bottom:30px;}
#searchForm > fieldset > legend{margin-bottom:10px;}
#finder-search > #advancedSearch,
#finder-search > .word{margin:20px 0; width:100%; overflow:hidden;}
#finder-search > .word > label,
#finder-search > .word > .inputbox{width:200px; float:left; margin-right:10px; display:block;}
#finder-search > .word > label{width:auto; margin: 7px 10px 7px 0;}
.filter-search{margin:30px 0;}
.filter-search select{width:auto; float:left; margin-right:5px;}
#login-form #form-login-submit{margin-top:10px; margin-bottom:10px;}
#contact-form .form-actions{background-color:transparent;}
.vtem-section{padding-top:60px; padding-bottom:60px;}
.vtemgotop{border:1px solid rgba(130,130,130,.3); display:block; width:32px; height:32px; text-align:center; font-size:150%; font-family:FontAwesome; text-decoration:none !important; border-radius:50%; line-height:1.2em;}
.tagspopular ul{display:block;}
.tagspopular ul li{display:inline-block; padding:5px !important; margin-bottom:5px;}
.tagspopular ul li > a{display:inline !important;}
.tag-category ul, .tag-category li{display:inline-block; list-style:none; padding:0;}
.tag-category li{padding:0 0 20px 20px;}
.tags > li{padding:2px;}

/*/////// Contextual Backgrounds/Colors ////////////////////////*/
.bg-blue{background-color:#2a82d7;}
.bg-green{background-color:#3aa03a;}
.bg-orange{background-color:#fd7222;}
.bg-red{background-color:#d7462c;}
.bg-teal{background-color:#2b8a6d;}
.bg-violet{background-color:#6b28ce;}
.bg-pink{background-color:#fc5ab8;}
.bg-black{background-color:#333;}
.bg-white{background-color:#fff;}
.bg-yellow{background-color:#404040;}
.bg-gray{background-color:#f9f9f9;}
.bg-light-red{background-color:#fc6a6c;}
.bg-violet-blue{background-color:#6041fa;}
.text-blue{color:#2a82d7;}
.text-green{color:#3aa03a;}
.text-orange{color:#fd7222;}
.text-red{color:#d7462c;}
.text-teal{color:#2b8a6d;}
.text-violet{color:#6b28ce;}
.text-pink{color:#fc5ab8;}
.text-black{color:#333;}
.text-white{color:#fff;}
.text-white-muted{color:rgba(255,255,255,.6);}
.text-yellow{color:#404040;}
.text-gray{color:rgba(0,0,0,.3);}
.text-light-red{color:#fc6a6c;}
.text-violet-blue{color:#6041fa;}
/*/////// CURRENT THEME ////////////////////*/
.section-header{padding-top:30px;background-color: #19CFC7; background-image: -webkit-linear-gradient(-490deg, #19CFC7 0%, #30B5CD 37%, #806FDF 100%); background-image: linear-gradient(220deg,#19CFC7 0%, #30B5CD 37%, #806FDF 100%);}
.image-slider{float:left; width:100%;}
.item_slider{text-align:center; color:#fff; margin:50px 0 0; display:block; width:100%;}
.item_slider > .img-wrap{max-width:600px; width:100%; height:300px; position:relative; display:inline-block; margin:15px auto;}
.item_slider img{position:absolute; left:0; bottom:0;}
.item_slider .layer-2{bottom:10%;}
.item_slider .layer-3{bottom:10%; left:auto; right:0;}
.copyright{border-top:1px solid rgba(153,153,153,.2); padding:30px 0;}
.blok-feature .fa{font-size:420%;}
.test-drive h1{margin:0 0 20px;}
.test-drive .marked-list{margin:20px 0; padding:0; list-style:none; border-top:1px solid #ddd;}
.test-drive .marked-list li{padding:8px 0; border-bottom:1px solid #ddd;}
.footer .moduletable-title{background-color:transparent !important;}
.nav-pills.vtem-menu{text-align:right;}
.nav-pills.vtem-menu > li{float:none; display:inline-block;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{background-color:#f90; color:#fff;}
.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li.menu-hover > a{background-color:#333; color:#fff;}